.about-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    @include background;
    .about-up{
            color:$first-font-color;
            width: 100%;
            height: 50vw;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            position: relative;
        }
    .about-welcome{
            font-size: $big-font-size;
            margin: 5vw;
    }
    .about-wrapper{
        display: grid;
        padding: 0 10% 7%  10%;
        grid-template-columns: 20% 80%;
    }
    .about-frame{
            padding: 0.3vw;
            border: solid 1px #CCC;
            box-shadow: 1px 1px 5px #999;
            margin: 1vw;
            border-radius: 40%;
            background-color: $second-font-color;
    }
    .about-picture{
        background-image:url(./../assets/robert.jpg);
        width: 100%;
        position: relative;
        padding-top: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 40%;
        img{
            margin: 2.5vw;
            width: 15vw;
            height: 15vw;
    }
    }
    .about-text{
        font-size: $medium-font-size;
        line-height: $medium-font-line;
        padding-left: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .about-down{
        background-color: $second-font-color;
        width: 100%;
        height: 44vw;
    }
    .about-down2{
        height: 70vw;
    }
    .about-middle{
        position: absolute;
        bottom: -70%;
        left: 10%;
        width: 80%;
        height: 100%;
        background-color: $second-font-color;
        display: flex;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .about-column{
        width: 33.3%;
        height: 150%;
        border: 1px solid #f2f2f2;
        img{
            width: 3vw;
            height: 3vw;
            font-size: 3vw;
            margin-left: 3vw;
        }
    }
    .about-column:first-child{
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .about-column-text{
        margin: 3vw;
        font-size: $small-font-size;
        line-height: $small-font-line;
        text-align: justify;
    }
    .about-skill-wrapper,
    .about-skill-wrapper2{
        padding: 0 20%;
        display: flex;
        align-items: center;
    }
    .about-skill-wrapper:nth-child(3){
        margin-top: 3vw;
    }
    .about-skill-wrapper2{
        // display: none;
    }
    .about-wrapper-novisible{
       display: none;
    }
    .about-wrapper-visible{
        display: block;
     }
    .about-no-visible{
        display: flex;
    }
    @include arrow;
    .fab{
        font-size: 3vw;
        margin-left: 3vw;
    }
    .about-skill{
        font-size: $small-font-size;
        padding: 1vw 0;
        height: 3vw;
        margin: 0.5vw 1.7vw;
    }
   .pointer{
       cursor: pointer;
       text-decoration: underline;
   }
   .course-spec{
    background-image: url(./../assets/rk4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 70.71%;
   }
//    Needed to overwrite inlinie style of Popup from "reactjs-popup"
   .popup-content{
       width: 75% !important;
   }
   .pointer:hover{
       color: $third-font-color;
       font-weight:700 ;
       font-size: 1.7vw;
   }  
    .about-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 12vw;
            height: 12vw;
            margin: 2vw;
        }
    }
    .about-title{
        text-align: center;
        font-size: $title-font-size;
      }
}