.about-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    @include background;
    
    
    .about-up{
        // background-color: $additional-color;
        // background-color: white;
        color:$first-font-color;
      
        width: 100%;
        height: 50vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .about-welcome{
        font-size: 3.1vw;
        margin: 5vw;
    }
    .about-wrapper{
       display: grid;
       padding: 0 10% 7%  10%;
       grid-template-columns: 20% 80%;
    }
    .about-frame{
        // background-color: $second-font-color;
        // border:2px solid $first-font-color;
        // width: 16vw;
        // height: 16vw;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // border-radius: 40%;
        padding: 0.3vw;
        border: solid 1px #CCC;
        box-shadow: 1px 1px 5px #999;
        margin: 1vw;
        border-radius: 40%;
        background-color: white;
    }
    .about-picture{
        background-image:url(./../assets/robert.jpg);
        // width: 15vw;
        // height: 15vw;
        width: 100%;
        position: relative;
        padding-top: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 40%;
        // margin-right: 5vw;
    }
    .about-text{
        font-size: 2vw;
        line-height: 2.5vw;
        padding-left: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .about-down{
        background-color: white;
        width: 100%;
        height: 40vw;
    }
    .about-down2{
        height: 70vw;
    }
   
    .about-middle{
        position: absolute;
        bottom: -70%;
        left: 10%;
        width: 80%;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
    }
    .about-column{
        width: 33.3%;
        height: 150%;
        border: 1px solid #f2f2f2;
    }
    .about-column-text{
        margin: 3vw;
        font-size: 1.5vw;
        line-height: 2vw;
        text-align: justify;
    }
    .about-skill-wrapper,
    .about-skill-wrapper2{
        padding: 0 20%;
        display: flex;
        align-items: center;
    }
    .about-skill-wrapper:nth-child(3){
        margin-top: 3vw;
    }
    .about-skill-wrapper2{
        display: none;
    }
    .about-no-visible{
        display: flex;
    }
    
    @include arrow;
    .fab{
        font-size: 3vw;
        margin-left: 3vw;
        
    }
    .about-skill{
        font-size: 1.5vw;
        padding: 1vw 0;
        height: 3vw;
        margin: 0.5vw 1.7vw;
    }
   .pointer{
       cursor: pointer;
       text-decoration: underline;
   }
   .course-spec{
    background-image: url(./../assets/rk4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 70.71%;
   }
  
//    Needed to overwrite inlinie style of Popup from "reactjs-popup"
   .popup-content{
       width: 75% !important;
   }
   .course-spec::-webkit-scrollbar-track-piece:start{
    margin-top: 100px;
   }
   .pointer:hover{
       color: black;
       font-weight:700 ;
       font-size: 1.7vw;
   }
    .about-column:first-child{
        border-top-left-radius: 20px;
    }
    .about-column:last-child{
        border-top-right-radius: 20px;
    }
    .about-icon{
        // background-image: url(/../assets/education.png);
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // width: 15vw;
        // height: 15vw;
        // color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        margin: 2.5vw;
        width: 15vw;
        height: 15vw;
    }
    .about-title{
        text-align: center;
        font-size: 2.5vw;
      }
    

}