
.contact-container{
    width: 100%;
    // height: 100vh;
    position: relative;
    @include background;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   .contact-me{
       font-size: $big-font-size;
       margin: 5vw auto 3vw auto;
   }
   .phone{
    font-size: $medium-font-size;
    margin-bottom: 5vw;
   }
   .email{
       font-size: $medium-font-size;
        display: none;
        position: absolute;
        left: 0vw;
        bottom: 7.5vw;
   }
   .email-wrapper:hover .email{
        display: block;
   }
   .email-wrapper{
       display: inline;
       position: relative;
   }
   .contact-info{
    font-size: $medium-font-size;
    line-height: $medium-font-line;
    width: 50%;
    text-align: center;
    padding-bottom: 10vw;
    border-bottom:1px solid $first-font-color;
}
.a-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14vw;
}
.fas,
.fab{
    font-size: 5vw;
    margin:2vw;
    color: $first-font-color;
}
}
