.header-left{
    width: 100%;
    height: 100%;
     position: relative;
    .intro-wrapper{
        width: 100%;
        position: absolute;
        top: 25vw;
        left: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    h2{
        font-size: 2vw;
    }
    p{
        font-size: 1.6vw;
        padding: 1vw;
    }
    .btn{
        width: 12vw;
        height: 3vw;
        background-color: $additional-color;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4vw;
       color: white;
       cursor: pointer;
    }
}