.new-container{
    width: 100%;
    height: 50vw;
    position: relative;
    @include background;
    overflow: hidden;
    // grid-template-rows: 1fr;
}
#section-3 {
	position:relative;
	float:left;
	width:100%;
	height:300px;
	background:#202020;
	border-bottom:solid 1px #000;
}

#section-3 .container {
	position:relative;
	float:left;
	height:100%;
}

.info-slide {
	position:absolute;
	bottom:0;
	float:left;
	width:100%;
	height:60px;
	cursor:pointer;
	overflow:hidden;
	text-align:center;
	
	transition: height .4s ease-in-out;
    -webkit-transition: height .4s ease-in-out;
    -moz-transition: height .4s ease-in-out;

}

.info-slide:hover, .info-slide:active{
	height:300px;
}

#section-3 .container h1 {
	float:left;
	padding:20px 0;
	font-size:20px;
	width:100%;
	color:#12647f;
	background:#000;
    height:50px;
}

#section-3 .container .abc {
	
	padding:5% 10%;
	font-size:16px;
	bottom:0;
	width:80%;
	color:#fff;
}

#section-3 #btn1 {
	width:33%;
}


