$first-font-color: #404040;
$second-font-color: white;
$third-font-color: black;
$additional-color: #f3493a;
$small-font-size: 1.5vw;
$medium-font-size: 2vw;
$title-font-size: 2.7vw;
$big-font-size: 3.6vw;
$small-font-line: 2vw;
$medium-font-line: 2.6vw;
$font-family: 'Roboto', sans-serif;

